@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-highlight-orange: #f7880f;
  --color-highlight-blue: #3a99ff;
  --color-bg-light: #f1f5f9;
  --color-surface-light: #ffffff;
  --color-border-light: #e2e8f0;
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
}
